#!/usr/bin/env python
import os
import MySQLdb as mdb
import sys
# check if database accessible
# if database not accessible - break with errorcode 001 and write log
# if databse accessible - write statuscode 101 in log

# check if host present in database
# if host not present - write host in database and enable host

# check if host enabled in database
# if host not enabled - break without an error

def getCPUtemperature():
    res = os.popen('vcgencmd measure_temp').readline()
    return(res.replace("temp=","").replace("'C\n",""))

def getCPUuse():
    return(str(os.popen("top -n1 | awk '/Cpu\(s\):/ {print $2}'").readline().strip()))


print getCPUtemperature()
print getCPUuse()

try:
    con = mdb.connect('{{ monitor.database.host }}', '{{ monitor.database.user }}', '{{ monitor.database.pass }}', '{{ monitor.database.base }}');

    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    ver = cur.fetchone()

    print "Database version : %s " % ver

except mdb.Error, e:

    print "Error %d: %s" % (e.args[0],e.args[1])
    sys.exit(1)

finally:

    if con:
        con.close()
