<!DOCTYPE html>
<html>
    <head>
    <title>Welcome to tholie's Place</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
        }
        h1 {
            font-family: 'Inconsolata';
            font-weight: 400;
            font-size: 40px;
            color: #AAA;
        }
        p {
            font-family: 'Inconsolata';
            font-weight: 400;
            font-size: 20px;
            color: #AAA;
        }
    </style>
    </head>
    <body>
        <h1>http://Status.204</h1>
        <p>No Content</p>
        <p>Host: {{ item.value.hostname }}</p>
    </body>
</html>
